// WEBKIT
@-webkit-keyframes FADE-IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes FADE-OUT {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// MOZ
@-moz-keyframes FADE-IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes FADE-OUT {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// MS
@-ms-keyframes FADE-IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes FADE-OUT {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// O
@-o-keyframes FADE-IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes FADE-OUT {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// GENERAL
@keyframes FADE-IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FADE-OUT {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tk-animation {

    &--fade-in {
        -webkit-animation: FADE-IN 1s ease-in-out; /* Safari 4+ */
        -moz-animation: FADE-IN 1s ease-in-out; /* Fx 5+ */
        -o-animation: FADE-IN 1s ease-in-out; /* Opera 12+ */
        animation: FADE-IN 1s ease-in-out; /* IE 10+, Fx 29+ */
    }

    &--fade-out {
        -webkit-animation: FADE-OUT 1s ease-in-out; /* Safari 4+ */
        -moz-animation: FADE-OUT 1s ease-in-out; /* Fx 5+ */
        -o-animation: FADE-OUT 1s ease-in-out; /* Opera 12+ */
        animation: FADE-OUT 1s ease-in-out; /* IE 10+, Fx 29+ */
    }
}

