.tk-flex {
    display: flex;
}

.tk-justify-content {

    &--center {
        justify-content: center;
    }

    &--space-between {
        justify-content: space-between;
    }
}

.tk-align-items {

    &--center {
        align-items: center;
    }
}
