.tk-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--tk-default-space));
    margin-right: calc(-1 * var(--tk-default-space));
}

.tk-col {
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: var(--tk-default-space);
    padding-right: var(--tk-default-space);
    width: 50%;
}

@media (max-width: 680px) {

    .tk-row {
        flex-direction: column;
    }

    .tk-col {
        width: 100%;

        & + .tk-col {
                margin-top: var(--tk-space-2x);
        }
    }

    .tk-hide--xs {
        display: none;
    }
}
