:root {
    --tk-white: #FFFFFF;
    --tk-black: #000000;

    --tk-lighter-gray: #F4F8FA;
    --tk-light-gray: #E1E8ED;
    --tk-gray: #657786;
    --tk-dark-gray: #1C1E1F;
    --tk-darker-gray: #121414;

    --tk-primary: #0079FF;
    --tk-primary-dark: #1B31A8;
    --tk-primary-hover: #233FDB;
    --tk-primary-press: #0D174F;
}
