:root {
    --tk-card-background: var(--tk-white);

    --tk-card-border-color: var(--tk-light-gray);

    --tk-card-box-shadow: rgba(150, 164, 176, 0.1);

    --tk-card-mobile-box-shadow: rgba(225, 232, 237, 0.8);

    --tk-card-icon-color: var(--tk-gray);

    --tk-card-footer-background-color: var(--tk-lighter-gray);
}

