:root {
    --tk-text-color: var(--tk-dark-gray);
    --tk-text-accent-color: var(--tk-primary);

    --tk-h1-color: var(--tk-primary-dark);
    --tk-h2-color: var(--tk-dark-gray);
    --tk-h3-color: var(--tk-gray);
}
