html.tk-theme--dark {
    --tk-card-background: var(--tk-dark-gray);

    --tk-card-border-color: var(--tk-dark-gray);

    --tk-card-box-shadow: rgba(150, 164, 176, 0.5);

    --tk-card-mobile-box-shadow: rgba(225, 232, 237, 0.8);

    --tk-card-icon-color: var(--tk-lighter-gray);

    --tk-card-footer-background-color: var(--tk-darker-gray);
}
